# Redirecionamento de erro 404 para 404.html
ErrorDocument 404 /404.html

# Outras configurações podem ser personalizadas posteriormente 
# Redireciona /servicos/alguma-coisa para /servicos/alguma-coisa.html
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^servicos/([^/]+)$ /servicos/$1.html [L]