<header class="ziro-navbar">
    <div class="ziro-container">
        <span class="ziro-logo">Ziro</span>
        <nav>
            <a href="{{homeUrl}}" {{#if isHomePage}}class="active"{{/if}}>Início</a>
            <a href="{{salesforceUrl}}" {{#if isSalesforcePage}}class="active"{{/if}}>Salesforce</a>
            <a href="{{blipUrl}}" {{#if isBlipPage}}class="active"{{/if}}>Blip</a>
            <a href="{{zendeskUrl}}" {{#if isZendeskPage}}class="active"{{/if}}>Zendesk</a>
            <a href="#contato">Contato</a>
        </nav>
    </div>
</header> 